# Disable info-level warnings for read without -r
# In interactive prompts, backslash mangling is not a concern
disable=SC2162

# Disable warnings about not following sourced files
# .env is generated at runtime and not available during linting
disable=SC1091
