services:
  versatiles:
    container_name: versatiles
    image: versatiles/versatiles:latest-scratch
    restart: always
    networks: [docker_network]
    expose: [8080]
    command: versatiles server -i 0.0.0.0 -p 8080 -s /data/frontend.br.tar "[osm]/data/osm.versatiles" "[hillshade-vectors]/data/hillshade-vectors.versatiles" "[landcover-vectors]/data/landcover-vectors.versatiles" "[bathymetry-vectors]/data/bathymetry-vectors.versatiles"
    volumes:
      - ./volumes/versatiles/:/data/:ro

  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: always
    depends_on: [versatiles]
    networks: [docker_network]
    ports: [80:80, 443:443]
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates/:/etc/nginx/templates/:ro
      - ./volumes/cache/:/data/nginx/cache/:rw
      - ./volumes/certbot-www/:/var/www/certbot/:ro
      - ./volumes/nginx-cert/:/etc/nginx/ssl/:ro
      - ./volumes/nginx-log/:/var/log/nginx/:rw
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - RAM_DISK_GB=${RAM_DISK_GB}

  certbot:
    container_name: certbot
    image: certbot/certbot:latest
    depends_on: [nginx]
    profiles: [donotstart]
    volumes:
      - ./volumes/certbot-cert/:/etc/letsencrypt/:rw
      - ./volumes/certbot-www/:/var/www/certbot/:rw

networks:
  docker_network:
    driver: bridge
